/* https://coolors.co/e9d758-297373-ff8552-e6e6e6-39393a */

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    display: flex;
    margin-bottom: 1rem;
}
    .card-left {
        width: 30%;
        padding: 1rem;
        
        background-color: #F6285B;
        color: white;
        text-align: center;
        
        border-radius: .5rem 0 0 .5rem;
    }
    .card-content {
        width: 70%;
        padding: 1rem;

        background-color: #E6E6E6;
        
        border-radius: 0 .5rem .5rem 0;
    }

header {
    background-color: #58355E;
    color: white;
    padding: 1rem;
}

header a {
    color: white;
}

main {
    padding: 1rem;
}

