<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<script src="/js/groups.js"></script>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container" id="groups-container"></div>
    </main>
</body>
</html>