<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Búsqueda de productos</h1>
                        <form action="/groups/search">
                            <div class="field">
                                <div class="control">
                                    <input 
                                        type="text" 
                                        name="search" 
                                        value="<%= search ? search : "" %>"
                                        placeholder="Ingresa tu búsqueda&hellip;">
                                    <button type="submit">Buscar</button>
                                </div>
                                <p class="feedback"></p>
                            </div>
                        </form>
                        <hr>
                        <% groups.forEach(group => { %>
                            <%- include('group', { group }) %>
                        <% }) %> 
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>