<header>
    <nav>
        <a href="/">Página principal</a>
        <a href="/groups">Listado de grupos</a>
        <a href="/groups/create">Crear un grupo</a>
        <a href="/groups/search">Búsqueda</a>
    </nav>
</header>