<!DOCTYPE html> <!-- Versión de HTML 5 -->
<html lang="es"> <!-- Contenido en español -->
<head>
    <meta charset="UTF-8"> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro a HTML</title>
</head>
<body>
    <h1>Titular 1</h1>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <h2>Titular 2</h2>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <h3 id="titular-3">Titular 3</h3>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <h4>Titular 4</h4>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <h5>Titular 5</h5>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <h6 id="titular-6">Titular 6</h6>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, illo?</p>
    <ul type="square">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>

    <!-- Links internos -->
    <p>
        <a href="#titular-3">Ir al titular 3</a><br>
        <a href="#titular-6">Ir al titular 6</a>
    </p>



    <!-- Links relativos -->
    <p>
        <a href="acerca-de.html">Acerca de</a>
    </p>

    <!-- Links absoluto -->
    <p>
        <a href="https://google.com" target="lorem">Ir a Google</a>
        <a href="https://google.com" target="ipsum">Ir a Google</a>
    </p>

    <h3>Imagen de una zapatilla</h3>
    <img src="/img/black-shoe.jpg" alt="Zapatilla Negra" width="300">

    <h3>Imagen de un animal al azar</h3>
    <img src="https://placeimg.com/640/480/animals" alt="Un animal al azar" width="320">

    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
    <p>Lorem ipsum dolor <b>sit amet</b> consectetur <strong> elit. Aliquam at</strong> voluptates possimus eaque ipsa commodi voluptatum <em>repudiandae voluptas praesentium</em>, quasi nihil accusamus earum harum quam distinctio perspiciatis est reprehenderit laudantium!</p>
</body>
</html>