<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="maintenance">
    <%- include('partials/header') %> 
    <main>
        <div class="maintenance-hero">
            <h1>Página en mantenimiento, volvemos pronto</h1>
            <figure class="image">
                <img src="/img/503.png" alt="">
            </figure>
        </div>
    </main>
</body>
</html>