<article class="card">
    <div class="card-left">
        <h3>#<%= group.id %></h3>
    </div>
    <div class="card-content">
        <h3><%= group.name %></h3>
        <p><a href="<%= group.repository %>" target="_blank">Repositorio</a></p>
        <p><a href="/groups/detail/<%= group.id %>">Ver detalle</a></p>
    </div>   
</article>